# --- Python Virtual Environment (SAMPAH TERBESAR) ---
venv/
env/
.venv/
ENV/

# --- File Rahasia (SANGAT PENTING) ---
.env
.env.*

# --- Python Cache (Sampah Sistem) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Database Lokal (Jika ada) ---
*.sqlite3
*.db

# --- Editor Settings (Pribadi) ---
.vscode/
.idea/
.DS_Store
